extends ../base.pug 

block variables 
  - var template  = 'Collections'

block content
  .collections 
    .collections__wrapper 
      .collections__gallery 
      .collections__gallery
        .collections__gallery__wrapper
        each collection in collections 
          each product in collections.data.products 
            a.collections__item__link(href=collection.data.link.url target="_blank") 
              figure.collections__gallery__link
                igure.collections__gallery__media 
                  img.collections__gallery__media__image(src=product.products_product.data.image.url alt=product.products.data.image.alt)

  .collections__content 
    each collection in collections 
      article.collections__article 
        h2.collections__article__title=collection.data.title 
        p.collections__article__description=collection.data.description 
